
body{
    background-color: yellow;
}

/* css resetting properties value */


/* Universal selector */

p{
    background-color: red;
}


*{
    background-color: green;
    text-decoration: underline;
}



/* simple tag selector*/



/* css class selector */

#bt-1{
    background-color: purple;
    border:none;
}

#bt-1:hover{
    background-color: red;
    color:white;
}

.btn-2:hover{
    color:rgb(255, 208, 0);
}

.btn-3:hover{
    color:rgb(0, 251, 255);
}

.btn-4:hover{
    color:darkolivegreen;
}


/*css id selector*/




/* Examples Combinator selector */

/* Descendent selector */




/* child selector */



/* adjuacent sibling selector*/


/* general sibling selector*/



/* link selector */


    link
    active
    hover
    visited
*/

a:link{ */
background-color: red;
}
a:active{
    background-color: green;
}
a:hover{
    background-color: brown;
}
a:visited{
    background-color: black;
}



